{{>layout/header}}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>시간대별 방문객</h1>
<div>
    <button type="button" class="btn btn-primary" id="btn-monitoring">조회</button>
    <input type="text" id="monitoring-from-date" placeholder="조회 시작일을 입력하세요">
    <input type="text" id="monitoring-to-date" placeholder="조회 종료일을 입력하세요">
</div>
<div>
    <canvas class="w-75 h-50" id="timeline"></canvas>
</div>

<!--footer 대신 직접 입력-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--monitoring.js 추가-->
<script src="/js/app/monitoring.js"></script>
</body>
</html>